# ========================
# .NET
# ========================
bin/
obj/
.vs/
*.user
*.suo
*.cache

# ========================
# Android / IntelliJ
# ========================
.gradle/
.idea/
local.properties
**/build/

# ========================
# Logs / temporales
# ========================
*.log
*.tmp

# ========================
# OS
# ========================
Thumbs.db
.DS_Store